<!DOCTYPE html>
<html lang="en">

{% block html_head %}
{% include "bootstrap/_bootstrap_container.html_head.twig" %}
{% endblock %}

<body>

{% block topbar %}
{% include 'bootstrap/_bootstrap_container.topbar.twig' %}
{% endblock %}

<div class="container">

	<div class="content">

		{% if page_header %}
		{% block page_header %}
		{% include 'bootstrap/_bootstrap_container.page_header.twig' %}
		{% endblock %}
		{% endif %}

		<div class="row">
			<div class="span14">
				{% block all_content %}
				<h2>{{ main_content_title }}</h2>
				{{ main_content }}
				{% endblock %}
			</div>
		</div>
	</div>

	{% block footer %}
	{% include 'bootstrap/_bootstrap_container.page_footer.twig' %}
	{% endblock %}

</div>
{% block page_scripts %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
</body>
</html>