[submodule "tests/fig-standards"]
	path = tests/fig-standards
	url = git://github.com/lapistano/fig-standards.git
[submodule "vendor/silex"]
	path = vendor/silex
	url = git://github.com/fabpot/Silex.git
[submodule "vendor/couchdb_odm"]
	path = vendor/couchdb_odm
	url = git://github.com/doctrine/couchdb-odm.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "vendor/SyntaxHighlighter"]
	path = vendor/SyntaxHighlighter
	url = git://github.com/alexgorbatchev/SyntaxHighlighter.git
