[submodule "tests/fig-standards"]
	path = tests/fig-standards
	url = git://github.com/lapistano/fig-standards.git
[submodule "vendor/Silex"]
	path = vendor/Silex
	url = git://github.com/fabpot/Silex.git
[submodule "vendor/couchdb_odm"]
	path = vendor/couchdb_odm
	url = git://github.com/doctrine/couchdb-odm.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = git://github.com/doctrine/common.git
