{% extends 'layouts/_master_one_column.twig' %}

{% block all_content %}
<h1>Welcome to the Blog Example!</h1>
<div id="posts">
	{% if blogs.rows is defined %}{% if blogs.rows|length > 0 %}
	{% for post in blogs.rows %}
		{% include 'layouts/blog/_master.single_post.twig' %}
	{% endfor %}
	{% endif %}
	{% endif %}
</div>{% endblock %}


