<div class="page-header">
	<h1><img class="kisma-logo-32" src="/images/kisma-logo-64x64.png" alt="" border="0" />{% if page_header is defined %}{{ page_header}}{%endif%}
		<small>{% if page_header_small is defined %}{{ page_header_small }}{%endif%}</small>
	</h1>
</div>
