{#
This view template defines a single blog post display.
The variable "post" will contain the post to display
#}
<h1 class="post-title">{{ post.doc.title }}<small>{{ post.doc.postDate }}</small></h1>
<div class="post-body">
	{{ post.doc.body|raw }}
</div>